body{
    /* Margen */
    margin: 0;
    /* Margen pa' dentro */
    padding: 0;
    /* Tamaño de letra */
    font-size: 13px;
    /* Tipografía */
    font-family: Arial, Helvetica, sans-serif;
}

/**********************************************/

/* Navegación */

header{
    /* width - ancho /// height-alto */
    width: 100%;
    height: 60px;
}

header nav{
    /* Elementos flexibles */
    display: flex;
    /* Alinear a la derecha */
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 250px;
    /* Eliminar viñetas */
    list-style: none;
    /* Flexibilidad a nuestro componente */
    display: flex;
    /* Centramos horizontalmente los elementos dentro la lista */
    justify-content: center;
    /* Centramos verticalmente la lista */
    align-items: center;
}

a{
    /* Elimina línea debajo */
    text-decoration: none;
}

nav .nav-right-section a{
    /* Color de texto */
    color: rgb(21, 21, 21);
    /* Margen derecho */
    margin-right: 20px;
}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    /* Modfica el tamaño de la imagen al tamaño de el contedor */
    background-size: contain;
    /* Para eliminar la repetición de elemento */
    background-repeat: no-repeat;
}

nav .nav-right-section img{
    /* Redondear bordes */
    border-radius: 30px;
    /* Margen izquierdo (separa menú de imagen) */
    margin-left: 20px;
    width: 35px;
}

/**********************************************/

/* Main */
main{
    margin-top: 130px;
    text-align: center;
}
/* Sección logo */
main .main-logo{
    width: 530px;
    /* setea 0 al margen de arriba y abajo -- auto (settea en auto bordes de izquierda y derecha) */
    /* Vertical | Horizontal */
    margin: 0 auto;
    margin-bottom: 40px;
}
/* Logo */
main .main-logo img{
    height: 120px;
}

/* Sección input */
main .main-input{
    width: 550px;
    margin: 0 auto;
    /* Separación entre buscador y botones */
    margin-bottom: 40px;
}
/* Caja con bordes redondeados */
main .main-input-container{
    /* borde y pide 3 valores - anchura de línea, estilo y color */
    /* style: dotted, solid, inset */
    border: 1px solid #dfe1e5;
    /* bordes redondeados */
    border-radius: 20px;
    width: 525px;
    /* Componentes flexibles y que se muevan */
    /* CENTRADO */
    display: flex;
    justify-content: center;
    align-items: center;

}
/* Cajita de input */
main .main-input input{
    height: 35px;
    border: none;
    /* outline - borde cuando seleccionas elemento */
    outline:none;
    width: 430px;
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-size: contain;
    padding-left: 6%;
    background-repeat: no-repeat;
    background-position: center;
    height: 15px;
}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    height: 17px;
    width: 17px;
    background-size: contain;
    background-position: center;
    padding-left: 1%;
    background-repeat: no-repeat;
}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    background-position: center;
    background-size: contain;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    padding-right: 5%;
}

/* BOTONES */
main .main-buttons{
    width: 550px;
    /* vertical - horizontal */
    margin: 0 auto;
}

main .main-buttons div{
    /* inline block: que estén en la misma línea */
    display: inline-block;
}

main .main-buttons button{
    background-color: #f8f9fa;
    border: none;
    height: 40px;
    font-size: 16px;
    color: #3c4043;
    padding: 0px 15px;
    border-radius: 4px;
    margin-right: 10px;
}
/* EFECTO DE SOMBRA AL PASAR MOUSE */
main .main-input-container:hover{
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0 0 5px #20212447;
}

main .main-buttons button:hover{
    color:#202124;
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px #20212447;
}

/* footer */

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #dadce0;
    font-size: 13px;
    margin: 100px auto;
    bottom: 0%;
}

footer .footer-left{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px auto;
}

footer .footer-left a{
    color: #707577;
    margin: 20px;
}

footer .footer-right{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

footer .footer-right a{
    color: #70757a;
    margin: 20px;
}